$icomoon-font-family: "kellerpostman" !default;


$icon-arrow-down: "\e90c";
$icon-privacy: "\e904";
$icon-people: "\e905";
$icon-institution: "\e906";
$icon-product: "\e907";
$icon-health: "\e908";
$icon-data: "\e909";
$icon-comm: "\e90a";
$icon-career: "\e90b";
$icon-anti: "\e903";
$icon-twitter: "\e900";
$icon-linkedin: "\e901";
$icon-facebook: "\e902";
