@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/rem";
.select {
  position: relative;
  &__icon{
    position: absolute;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    right: 0;
    bottom: 0;
  }
  &__button{
    padding-right: toRem(40);
    text-align: left;
    color: var(--base-dark);
  }

  &__list {
    position: absolute;
    background: var(--base-white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: toRem(4);
    width: 100%;
    top: 100%;
    padding: toRem(4) 0;
    z-index: 1001;
  }
  &__item {
    padding: toRem(8) toRem(14);
    color: var(--base-dark);
    cursor: pointer;
  }
  &__value{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}
