@import "../../style/variables";
@import "../../style/mixins";
@import '../../style/rem';
.casehighlights{
    background: var(--blue-4);
    padding:toRem(50) 0 ;
    color: var(--base-white);
    &__card{

        @include media-breakpoint-up(sm){
            .card{
                &__title{
                    min-height: toRem(60) ;
                }
                &__desc{
                    min-height: toRem(52);
                }

            }
        }

    }
}
