@import "../../style/variables";
@import "../../style/mixins";
@import '../../style/rem';
.casehighlights{
    background: var(--blue-4);
    padding:toRem(50) 0 ;
    color: var(--base-white);
    &__card{

        @include media-breakpoint-up(sm){
            .card{
                &__title{
                    min-height: toRem(60) ;
                }
                &__desc{
                    min-height: toRem(52);
                }

            }
        }

    }
    &__item{
        &:not(:last-child){
            margin-bottom: toRem(48);
        }
        &:last-child{
            margin-bottom: toRem(30);
        }
        @include media-breakpoint-up(sm) {
            &:not(:nth-last-child(-n+ 2)){
                margin-bottom: toRem(48);
            }
            &:nth-last-child(-n+2){
                margin-bottom: toRem(30);
            }
        }
        @include media-breakpoint-up(lg) {
            &:not(:nth-last-child(-n+ 3)){
                margin-bottom: toRem(48);
            }
            &:nth-last-child(-n+3){
                margin-bottom: toRem(40);
            }

        }
    }
}
