@import "../../style/variables";
@import "../../style/mixins";
@import '../../style/rem';
.casehighlights{
    background: var(--blue-4);
    padding:toRem(50) 0 ;
    color: var(--base-white);
}


@include media-breakpoint-up(sm){
    
    }