@import "../../style/variables";
@import "../../style/mixins";
@import "../../style/rem";
.contact {
  background: var(--blue-4);
  padding: toRem(50) 0;
  &__title {
    color: var(--base-white);
    margin-bottom: toRem(20);
    @include media-breakpoint-up(md) {
      margin-bottom: toRem(32);
    }
  }
  &__card {
    background: var(--base-white);
    border-bottom: 10px solid var(--teal-4);
  }
  &__right {
    padding: toRem(50) toRem(16);
    @include media-breakpoint-up(md) {
      padding: toRem(60);
    }
    &__text {
      margin-bottom: toRem(20);
      color: var(--blue-4);
      @include media-breakpoint-up(md) {
        margin-bottom: toRem(40);
      }
    }
  }
  &__left{
    @include media-breakpoint-down(sm) {
        min-height: toRem(397.5);
    }
  }
  &__textarea{
    margin-bottom: toRem(32);
  }
  &__action{
    margin-bottom: toRem(10);
    @include media-breakpoint-up(md) {
        margin-bottom: toRem(40);
      }
  }
  &__agree{
    color: var(--gray-7);
    margin: 0;

    span,a{
        color:var(--blue-4) ;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-left: toRem(16);
    padding-right: toRem(16);
  }
}
