@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

      .text#{$infix}-left   { text-align: left !important; }
      .text#{$infix}-right  { text-align: right !important; }
      .text#{$infix}-center { text-align: center !important; }
    }
  }
.text-decoration-none{
  text-decoration: none;
}
.text-uppercase{
  text-transform: uppercase;
}
.text-capitalize{
  text-transform: capitalize;
}


@for $i from 1 through 3 {
  .line-clamp--#{$i} {
    -webkit-line-clamp: #{$i};
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}