@import "variables";
@import "mixins";
@import "pleaceholder";
@import "rem";
@import "root";
@import "reboot";
@import "containers";
@import "grid";
@import "utills";
@import "button";
@import "shimmer";
@import "icons/icons";
@import 'mobile';
.shimmer {
  &--topslider {
    height: 3.625rem;
    width: 100%;
  }
}

.footer-shimmer {
  width: toRem(200);
}
