@import "variables";
@import "mixins";
@import 'rem';
@import "root";
@import "reboot";
@import 'containers';
@import "grid";
@import "utills";
@import 'shimmer';



.shimmer{
&--topslider{
    height:3.625rem;
    width: 100%;
}
}

.footer-shimmer{

    width: toRem(200);

}

// @include media-breakpoint-up(sm){
// body{
//     background: green;
// }
// }