@import "variables";
@import "mixins";
@import "pleaceholder";
@import "rem";
@import "root";
@import "reboot";
@import "containers";
@import "grid";
@import "utills";
@import "button";
@import "shimmer";
@import "icons/icons";
@import "mobile";

.shimmer {
  &--text-area{
    height: 112px !important
  }
  &__contactform{
    background: var(--gray-3) !important;
  }
  &--topslider {
    height: 3.625rem;
    width: 100%;
  }

  &__contact {
    height: 60px;
    width: 100%;
  }

&--contact{
  &-title{
    display: block;
    max-width: 51%;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
  }
  &-right-text{
    height: 60px;
    width: 100%;
  }
}
  &--footer {
    &-social{
      width: 24px;
      height: 24px;
      display: block;
    }
    &__address {
      height: 52px;
      width: 250px;
    }
    text-align: left;

    &-title {
      height: 20px;
      width: 200px;
      display: block;
    }

    &-col {
      text-align: left;
    }

    &-item {
      width: 100px;
      height: 22px;
      display: block;
    }

    &__address {
      &-title {
        display: block;
        width: 100px;
        height: 26px;
      }
    }
    &-recaptcha,&-copy{
      height: 22px;
      width: 100%;
    }
  }
}

.footer {
  &--shimmer {
    background: var(--base-white) !important;
  }
}
.footer__social--shimmer{
  text-align: left;
}
