@import "../../style/variables";
@import "../../style/mixins";
@import '../../style/rem';
.card {
  background: var(--base-white);
  &__title {
    margin:0 0 toRem(8) 0;
  }
  &__content {
    padding: toRem(14) toRem(32);
  }
  &__desc {
    color: var(--gray-6);
  }
  &__link{
    color: var(--blue-3);
    &:hover{
        color: var(--blue-1);

        img{
            transform: scale(1.0348);
            transition: .2s ease-in-out;
        }
    }
  }
  &__image{
    height: 230px;
    overflow: hidden;
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        transition: .2s ease-in-out;

    }
  }
}
