@import "../../style/variables";
@import "../../style/mixins";
@import '../../style/rem';
.awards{
    &__image{
        margin: o auto;
    }
    &__item{
        display: flex !important;
        align-items: center;
        justify-content: center;
        padding: toRem(27) 0;
    }
}